@import "tailwindcss";

/* 
Used: https://colorhunt.co/palette/f1f6f9394867212a3e9ba4b5

Tailwind Theme genarator: https://www.tints.dev

In the name, the C stands for custom, so custom white, custom black, custom grey, and custom blue.

*/

@theme {
  --color-cwhite-50: #ffffff;
  --color-cwhite-100: #fbfdfd;
  --color-cwhite-200: #f8fafc;
  --color-cwhite-300: #f8fafc;
  --color-cwhite-400: #f4f8fa;
  --color-cwhite-500: #f1f6f9;
  --color-cwhite-600: #adcbdc;
  --color-cwhite-700: #699fbf;
  --color-cwhite-800: #3a6b88;
  --color-cwhite-900: #1d3644;
  --color-cwhite-950: #0f1c24;
  --color-cblack-50: #e4e8f1;
  --color-cblack-100: #cad2e3;
  --color-cblack-200: #91a1c5;
  --color-cblack-300: #5c74a8;
  --color-cblack-400: #3e4f74;
  --color-cblack-500: #212a3e;
  --color-cblack-600: #1b2232;
  --color-cblack-700: #131925;
  --color-cblack-800: #0c1017;
  --color-cblack-900: #07090d;
  --color-cblack-950: #040507;
  --color-cgrey-50: #f6f7f8;
  --color-cgrey-100: #eaecf0;
  --color-cgrey-200: #d6dae1;
  --color-cgrey-300: #c4cad4;
  --color-cgrey-400: #b0b7c4;
  --color-cgrey-500: #9ba4b5;
  --color-cgrey-600: #758299;
  --color-cgrey-700: #576175;
  --color-cgrey-800: #383f4c;
  --color-cgrey-900: #1c2026;
  --color-cgrey-950: #0f1115;
  --color-cblue-50: #e8ebf2;
  --color-cblue-100: #d1d8e6;
  --color-cblue-200: #a6b4ce;
  --color-cblue-300: #788cb4;
  --color-cblue-400: #526894;
  --color-cblue-500: #394867;
  --color-cblue-600: #2d3a52;
  --color-cblue-700: #232c3e;
  --color-cblue-800: #181e2b;
  --color-cblue-900: #0b0e14;
  --color-cblue-950: #05070a;
} 